<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title><b>Overload of UI thread for big calculation</b></mat-card-title>
    <mat-card-subtitle>
      Demonstrate how the use of webworkers reduce UI overload.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="buttons-container">
      <mat-progress-bar mode="query"></mat-progress-bar>
      <div class="relative-container">
        <img class="absolute-item" alt="Angular Logo"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      </div>
    </div>
    <div class="buttons-container">
      <div>
        <mat-form-field>
          <input matInput min="0" max="30" type="number" placeholder="Highest number" [(ngModel)]="max">
        </mat-form-field>
      </div>
    </div>
    <div class="buttons-container">
      <div>
        <button mat-stroked-button (click)="calculateWithWorker()">Calculate with worker</button>
      </div>
      <div>
        <button mat-stroked-button (click)="calculateWithoutWorker()">Calculate in UI Thread</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="result-card" [class.animate]="currentWorkerPromise && workerResults.executionResults.length === 0">
  <mat-card-header>
    <mat-card-title><b>Web worker results</b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="results-container">
      <div>
        <p [class.warn]="workerResults.scheduleTime > 0.3">Schedule time: {{ workerResults.scheduleTime }} ms</p>
        <p>Execution time: {{ workerResults.executionTime }} ms</p>
        <p>Number of executions: {{ workerResults.executions }}</p>
        <p>Results:
          <ng-container *ngIf="currentWorkerPromise; else noresults">
            <span *ngFor="let result of workerResults.executionResults">
              {{ result.result }},
            </span>
          </ng-container>
          <ng-template #noresults> --- </ng-template>
        </p>
      </div>
      <div class="relative-container">
        <button [disabled]="!currentWorkerPromise || workerResults.executionResults.length !== 0" class="absolute-item"
          mat-stroked-button (click)="cancelWithWorker()">Cancel</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="result-card">
  <mat-card-header>
    <mat-card-title><b>UI Thread results</b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="results-container">
      <div>
        <p [class.warn]="nonWorkerResults.scheduleTime > 0.3">Schedule time: {{ nonWorkerResults.scheduleTime }} ms</p>
        <p>Execution time: {{ nonWorkerResults.executionTime }} ms</p>
        <p>Number of executions: {{ nonWorkerResults.executions }}</p>
        <p>Results:
          <span *ngFor="let result of nonWorkerResults.executionResults">
            {{ result.result }},
          </span>
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
